<!DOCTYPE html>
<html>

<head>
  <title></title>
  <script src="/script.js" defer>
  </script>
  <link href="style.css" rel="stylesheet">
</head>

<body>
  <h1>Welcome to Gabble  {{ #username }}
    {{ firstName }}!!
    {{ /username }}</h1>
  <h4><a href='/logout'>LOG OUT</a></h4>
  <section id="messages">
    {{ #post }}
    <div class="messagebox" id="hello">
      <p id="name"> {{ user.firstName }}: </p>
      <p id="body"> {{ body }} </p>
      <input type="submit" value="Like" class="like" id="liked">
      <p id="time"> {{ createdAt }} </p>
    </div>
    {{ /post }}
  </section>
  <section id="form">
    <form method="post" action="/message">
      <textarea name="body" cols="80" rows="3" placeholder="type message..." id="textArea"></textarea>
      <input type="submit" value="Send Message" class="like" id="send">
    </form>
  </section>
</body>

</html>
