<!DOCTYPE html>
<html>

<head>
  <link href="/style.css" rel="stylesheet">
  <title></title>
</head>

<body>
  <h1>Gabble</h1>
  <h3>Sign In</h3>
  <form method="post" action="/login">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="suubmit">
  </form>
  <form method="post" action="/sign-up">
    <input type="submit" value="Don't have an acount? Sign up here!" class="button2">
  </form>
</body>

</html>
