<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <h1>Gabble</h1>
    <h3>Sign In</h3>
    <form method="post" action="/login">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="suubmit">
    </form>
    <h5>Don't have an acount? Sign up here!</h5>

  </body>
</html>
