<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link href="style.css" rel="stylesheet">
</head>

<body>
  <h1>Sign up for Gabble</h1>
  <form method="post" action="/sign-in">
    <input type="submit" value="Already have an account" class="button2">
  </form>
  <section id="signup">
    <form method="post" action="/signin">
      <input type="text" name="username" placeholder="create Username">
      <input type="text" name="firstName" placeholder="First Name">
      <input type="text" name="lastName" placeholder="Last Name">
      <input type="email" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="create password">
      <input type="password" name="password1" placeholder="confirm Password">
      <input type="submit" value="suubmit">
    </form>


  </section>
</body>

</html>
